@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

#target-eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 4.9vh;
    height: 6.3vh;
}

#target-label-wrapper {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    left: 52%;
    width: fit-content;
    height: fit-content;
    /* background: linear-gradient(white, #00bf8f60); */
    top: 48.5%;
}

#target-label {
    list-style: none;
    font-size: 1.2vh;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: white;
    user-select: none;
    white-space: nowrap;
}